<!-- Register.cshtml -->

<!DOCTYPE html>
<html>
<head>
    <title>User Registration</title>
</head>
<body>
    <h2>User Registration</h2>
    <form method="post" action="/Account/Register">
        <label for="FirstName">FirstName:</label>
        <input type="text" id="FirstName" name="username" required>
        <br>
        <label for="LastNmae">LastNmae</label>
        <input type="text" id="LastName" name="password" required>
        <br>

        <input type="submit" value="Register">
    </form>
</body>
</html>
